{% extends 'base.html' %}
{% load static %}
{% block title %}Home | MTEL ESL Prep{% endblock %}

{% block content %}

<ul class="justify-center mt-20 py-30">
  <li class="font-sans text-lg text-white">
    <a href="{% url 'mcq-index' %}">Multiple Choice Questions</a>
  </li>
  <li class="font-sans text-lg text-white">
    <a href="{% url 'long-index' %}">Long Answer Questions</a>
  </li>
  <li class="font-sans text-lg text-white">
    <a href="{% url 'short-index' %}">Short Answer Questions</a>
  </li>
</ul>

{% if user.is_authenticated %}
  <p class="font-sans text-2xl text-white">Welcome back, {{ user.username }}!</p>
{% else %}
  <a class="px-2 py-1 bg-blue-600/80 hover:bg-blue-600 text-white rounded font-sans text-white" href="{% url 'login' %}" class="btn">Login</a>
{% endif %}


{% endblock %}

