{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}
<div class="page-header font-mono text-lg font-semibold justify-center mt-20 py-30">
  {% comment %} Check if we are editing an existing question or adding a new one {% endcomment %}
  {% comment %} 'question' context variable should be provided by the view {% endcomment %}
  {% if question %}
    <h1>Edit Question: {{ question.prompt }}</h1>
  {% else %}
    <h1>Add a multiple-choice Question</h1>
    <p class="font-mono text-lg font-semibold"> Remember to pick a correct answer.</p>
  {% endif %}
  <img src="{% static 'images/sun_behind_cloud.png' %}" alt="A sun behind a cloud" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button class="px-2 py-1 bg-green-500/80 hover:bg-green-500 text-black rounded" type="submit">Submit!</button>
</form>
{% endblock %} 