{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mcq-answer font-mono text-lg font-semibold max-w-3xl mx-auto p-6 space-y-6 text-white justify-center mt-20 py-30">
  <h1 class="text-2xl font-bold text-white mb-4">Multiple Choice Questions</h1>

  {% for mcq in mcqs %}
  <div class="question-card bg-white/10 rounded-lg p-4 shadow-md hover:shadow-lg transition-all">
    <a href="{% url 'mcq-detail' mcq.id %}">
      <div class="question-content text-white">
        <h3 class="text-sm leading-relaxed">{{ mcq.prompt }}</h3>
      </div>
    </a>
  </div>
  {% empty %}
  <p class="text-white">No multiple-choice questions available yet.</p>
  {% endfor %}

  {% if user.is_authenticated %}
    <ul class="mt-6">
      <li><a class="border border-white hover:underline text-xl" href="{% url 'mcq-create' %}">Add a multiple-choice question</a></li>
    </ul>
  {% endif %}
</section>
{% endblock %}
