{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}
<div class="page-header font-mono text-lg font-semibold">
  {% if question %}
    <h1>Edit Question: {{ question.prompt }}</h1>
  {% else %}
    <h1>Add a multiple-choice Question</h1>
    <p class="font-mono text-lg font-semibold"> Remember to pick a correct answer.</p>
  {% endif %}
  <img src="{% static 'images/sun_behind_cloud.png' %}" alt="A sun behind a cloud" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %} 