{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MTEL ESL Prep{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main_app/style.css' %}">
</head>
<body>
    <header>
        <h1>MTEL ESL Prep</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/about/">About</a> |
            <a href="/practice/">Practice</a> |
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
