{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}
<div class="page-header justify-center mt-20 py-30 text-mono text-lg font-semibold text-white">
  <h1 class="text-white text-mono text-lg">Sign Up</h1>
  <img src="{% static 'images/Sun.png' %}" height="50px" alt="sun"/>
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table class="text-white text-mono">
    {{ form.as_table }}
  </table>
  <button class="px-2 py-1 bg-blue-600/80 hover:bg-blue-600 text-white rounded" type="submit">Submit!</button>
</form>

{% endblock %}

