{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/questions/short-index.css' %}">
{% endblock %}

{% block content %}
<section class="short-answer">
  <h1>Short Answer Questions</h1>

  {% for short in shorts %}
  <div class="question-card">
    <a href="{% url 'short-detail' short.id %}">
      <div class="question-content">
        <h3>{{ short.prompt}}</h3>
      </div>
    </a>
  </div>
  {% empty %}
  <p>No short-answer questions available yet.</p>
  {% endfor %}
</section>
{% endblock %}
