{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/questions/short-index.css' %}">
{% endblock %}

{% block content %}
<section class="short-answer text-white justify-center mt-20 py-30 justify-center mt-20 py-30">
  <h1>Short Answer Questions</h1>

  {% for short in shorts %}
  <div class="question-card bg-white/10 rounded-lg p-4 shadow-md hover:shadow-lg transition-all">
    <a href="{% url 'short-detail' short.id %}">
      <div class="question-content font-mono text-sm font-semibold text-white">
        <h3>{{ short.prompt}}</h3>
      </div>
    </a>
  </div>
  {% empty %}
  <p class="font-mono text-lg font-semibold">No short-answer questions available yet.</p>
  {% endfor %}

    {% if user.is_authenticated %}
    <ul class="font-mono text-lg text-white">
      <li><a class="border border-white hover:underline text-xl" href="{% url 'short-create' %}">Add a short answer question</a></li>
    </ul>
  {% endif %}


</section>
{% endblock %}
