{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}
<div class="page-header font-mono text-lg font-semibold justify-center mt-20 py-30">
  {% if question %}
    <h1>Edit Question: {{ question.prompt }}</h1>
  {% else %}
    <h1>Add a Short Answer Question</h1>
    <p class="font-mono text-lg font-semibold text-white"> Remember to provide a clear and concise answer.</p>
  {% endif %}
  <img src="{% static 'images/Sun.png' %}" alt="A sun" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button class="px-2 py-1 bg-green-500/80 hover:bg-green-500 text-black rounded" type="submit">Submit!</button>
</form>
{% endblock %}
