{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}
<div class="page-header justify-center mt-20 py-30">
  {% if test %}
    <h1>Edit Practice Test: {{ test.title }}</h1>
  {% else %}
    <h1>Create your MTEL ELL Practice Test:</h1>
    <p>Fill out the form below to create your practice test.</p>
  {% endif %}
  <img src="{% static 'images/full_moon.png' %}" alt="A full moon" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button class="px-2 py-1 bg-green-500/80 hover:bg-green-500 text-black rounded" type="submit">Submit!</button>
</form>
{% endblock %} 